<a href="~/GioHang/GioHang" class="btn btn-outline-secondary" id="cart" style="float:left;margin-left:30px;">
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    Giỏ Hàng (@ViewBag.TongSoLuong)
</a>
